<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,496},{50,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,92}}</string>
				<key>sourceSize</key>
				<string>{50,92}</string>
			</dict>

			<key>bg_1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,239},{646,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{646,768}}</string>
				<key>sourceSize</key>
				<string>{646,768}</string>
			</dict>

			<key>bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{795,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{795,238}}</string>
				<key>sourceSize</key>
				<string>{795,238}</string>
			</dict>

			<key>boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,589},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>trailing.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,239},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>res.png</string>
			</dict>
		</dict>
</plist>